@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

html, body
  height 100%

.navbar-custom
  box-shadow 0 0 3px #666

.full-height
  height 100%

.box
  margin-bottom 30px
  height 450px
  padding 10px
